.color1{
    background-color: #00c292;
}
.color2{
    background-color: #ffdb58;
}
.color3{
    background-color: #9932cc;
}

.card-body{
    display:inline-block;
    font-family: "roboto", sans-serif;
    margin: 10px;
    padding: 20px;
    width: 250px;
    height: 90px;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.card-body h3{
    margin-top: 15px;
    margin-bottom: 5px;
}

.currancy, .count{
    font-size: 30px;
    font-weight: 500;
}

.card-body p{
    font-size: 16px;
    margin-top: 0;
}

.card-body i{
    font-size: 95px;
    opacity: 0.5;
}